.addition-with-icons
  font-size 30px
  
  .icons, .trace-number
    display inline-block
    text-align center
    vertical-align middle
    letter-spacing 2px
    width 130px
    margin 10px
    
  .trace-number
    font-family "Trace"
    font-size 45px
    color #CCC
    margin 0px 10px

  .operator
    font-size 50px

  .spacer
    height 1px
    display inline-block
