.arithmetic-pyramid
  text-align center
  table
    display inline-block
    tr
      td
        border none
        text-align center
        width 30px
        height 30px
        font-size 20px
        &.num
          border 1px solid #000