.block-copy
  text-align center
  table
    display inline-block
    margin 10px
    border-collapse collapse
    tr
      td
        width 30px
        height 30px
        
  table.shape
    // border 1px solid black
    tr
      td
        border none
      td.shade
        background-color #999
