.connect-icons-to-numbers
  
  text-align center
  
  .group
    border 1px solid black  
    font-size 18px
    display inline-block
    margin 3px
    border-radius 50%
    width 30%
  
  .icons
    display inline-block
    text-align center
    vertical-align middle
    letter-spacing 2px
    margin 8px

  .number
    font-size 30px
    width 30%
    display inline-block
    margin 3px
    margin-top 30px