.counting-by-squares
  text-align center
  table.blocks
    display inline-block
    td
      width 25px
      height 25px
      border 1px solid black
      border-collapse collapse
      font-size 1px
    td.equals
      border none
      font-size 25px
      