.grid-image-copy
  text-align center
  table
    display inline-block
    margin 10px
    border-collapse collapse
    tr
      td
        border 1px solid #000
        width 30px
        height 30px
        
  table.shape
    border 1px solid black
    tr
      td
        border none
        padding 0
          
      td.shade
        // background-color #999
        span
          border 15px solid #999
          font-size 0

