

.grid-picture
  width 1000px
  vertical-align top
  font-size 16px
  .equation-set
    width 25%
    display inline-block
    .equation
      margin 2px
      padding 5px
      border 1px solid black
      display inline-block
  .colour-key-set
    display inline-block
    width 35%
    .colour-key
      text-align center
      margin 5px
      padding 5px
      padding-top 20px
      border 1px solid black
    
  .grid
    // width 25%
    // border 1px solid black
    border-collapse collapse
    display inline-block
    td
      border 1px solid black
      width 30px
      height 30px
    th
      padding 10px