.linear-plot
  text-align center
  width 900px
  .equation
    display inline-block
    font-size 30px
    text-align left
    width 400px
    height 100px
    vertical-align top
  canvas
    display inline-block
    margin 5px
      