.maths-table
  text-align center
  table
    display inline-block
    border-collapse collapse
    border 1px solid black
    margin 10px
    text-align center
    td
      font-size 30px
      width 60px
      height 60px