.multiplication-squares
  table, td
    border none
    font-size 40px
    text-align center
    vertical-align middle
    
  td.left-number, td.multiplication-symbol
    width 80px
    
  td.top-number, td.multiplication-symbol
    height 60px
    
  td.equals-symbol
    width 100px
    text-align left
    
  td.blocks-cell
    text-align middle
    
  table.blocks
    display inline-block
    td
      width 30px
      height 34px
      border 1px solid black
      border-collapse collapse
      font-size 5px
