.number-sequence
  font-size 20px
  div
    margin 20px 0
  span
    margin 0 10px
  span.missing
    display inline-block
    width 35px
    height 35px
    margin-bottom -10px
    border 1px solid #000
    