.number-breakdown-2
  padding 5px
  line-height 25px
  
  .num
    font-size 20px
    font-weight 600
    margin-bottom 10px
  span
    display inline-block
    border 1px solid black
    width 25px
    height 25px
    
  p
    margin 2px