.number-breakdown
  table
    border-collapse collapse
    margin 10px
    tr
      td
        font-size 16px 
        min-width 30px
        height 30px
        text-align center
      .sum
        text-align right
        padding-right 5px
    .final-sum
      border-top 2px solid black  
