.projections-to-shapes
  canvas
    display inline-block
  .projection-table
    display inline-block
    margin-right 10px
    table
      border 1px solid black
      border-collapse collapse
      display inline-block
      td
        border 1px solid black
        width 30px
        height 30px
        &.fill
          background-color #999