.trace-number
  font-size 40px
  text-align center
  .symbols
    display inline-block
    text-align center
    vertical-align middle
    letter-spacing 2px
    width 130px
    margin 10px
  .number
    font-family "Trace"
    font-size 90px
    color #CCC
    margin-left 30px
    line-height 120px