.editor
  font-size 15px
  display flex
  flex-direction row
  
  .editor-menu
    min-width 280px
    border-right 1px solid black
    padding 0
    margin 10px
    .generate-button, .config-manager button
      border 1px solid black
      padding 10px 5px
      text-align center
      display inline-block
      text-decoration none
      width calc(100% - 30px)
      margin-bottom 10px
      
    input, select
      width calc(100% - 30px)
      margin-bottom 5px
      
    .question-level-header
      font-weight bold
      margin-top 10px
    .question-item
      cursor pointer
      height 20px
      margin-left 10px
      .checkmark
        margin-left 3px
      .add-button
        margin 0
        margin-left 3px
        height 18px
        visibility hidden
      &:hover
        .add-button
          visibility visible
  
  .editor-question
    .title
      display flex
      justify-content space-between
      margin 10px
      h1
        margin 0
      div
        text-align right

    .editor-question
      border 1px solid #000        
    .small-square-editor
      max-width 250px
      max-height 250px
      
    .tall-rect-editor
      max-width 250px
      max-height 500px
      
    .wide-rect-editor
      max-width 500px
      max-height 250px
      
    .large-square-editor
      max-width 500px
      max-height 500px
      
    .double-large-square-editor
      max-width 1000px
      max-height 500px