body
  font-family monospace
  font-size 30px
  
button
  font-family monospace
  font-size 15px
  
table.layout, td
  border 1px solid black
  border-collapse collapse
  
  > tr
    > td
      width 250px
      height 200px

  td[rowspan='2']
    height 400px
    
  td[colspan='2']
    width 500px
  

.maths-page
  margin 20px 0
  
.small-text
  font-size 15px
  
.center
  text-align center
  
.large-text
  font-size 40px
  
@media print
  .maths-page
    page-break-after always
    
@require 'editor'
@require 'home'
  
@require 'questions/*'
  
  

